@import url('./main.css');

/* component.css */

.login-card {
    background: #fff;
    width: 450px;
    padding: 24px;
    border-radius: 8px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

.login-card h2{
    text-align: center;
    margin-bottom: 30px;
    font-size: 1.3rem;
    color: var(--text-color);
}

.login-card input {
    width: 100%;
    padding: 10px;
    margin-bottom: 25px;
    border: 1px solid var(--border-color);
    border-radius: 4px;
    font-size: 14px;
}

.login-card button {
    width: 100%;
    padding: 10px;
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.login-card button:hover {
    background-color: var(--hover-color);
}

#errorMsg {
    text-align: center;
    margin-top: 10px;
    font-size: 13px;
}


/* Side-Bar */

.sidebar {
    width: 220px;
    height: 100vh;
    background: #f2effd;
    color: #fff;
    position: fixed;
    left: -220px;
    transition: left 0.3s ease;
}

.sidebar.active {
    left: 0;
}

#menuBtn {
    background: none;
    border: none;
    width: 35px;
    font-size: 22px;
    cursor: pointer;
}
#menuBtn.menuBtn-active{
    background: #7D53F6;
    color: white;
    border-radius: 10px;
}

#menuBtn:hover {
    background: hsl(255, 90%, 75%);
    color: white;
    border-radius: 10px;
    box-shadow: 0 0 5px hsla(0, 0%, 0%, 0.2);
}

/* Nav Bar  */

#navbar {
    background: hsl(0, 3%, 100%);
    width: 100%;
    padding: 5px;
    height: 70px;
    box-shadow: 0 0 8px hsla(0, 0%, 0%, 0.3);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#navbar .sidebar-item {
    padding: 10px;
    cursor: pointer;
}

#navBar .sidebar-item.active {
    background: #2563eb;
}

#themeToggle {
    padding: 8px 10px;
    min-width: 100px;
    font-size: 1rem;
    border-radius: 5px;
    border: none;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
}

body.dark {
    background: #111827;
    color: #f9fafb;
}

body.dark .profile-card,
body.dark .course-card,
body.dark .assignment-card {
    background: #1f2937;
    color: #fff;
}

body.dark .card {
    background: #1f2937;
    color: #fff;
}

body.dark .sidebar {
    background: #1f2937;
    color: #fff;
}

body.dark .sidebar-item {
    color: #fff;
}

body.dark #navbar {
    background: #222e41;
    color: #fff;
}

body.dark #navbar button{
    background: #222e41;
    color: #fff;
}

body.dark #themeToggle{
    background: #132441;
    color: #fff;
}

.sidebar-item {
    padding: 10px 15px;
    margin: 5px 2px;
    font-weight: 600;
    border-radius: 10px;
    color: #183241;
}

.sidebar-item:hover {
    background-color: hsla(255, 90%, 75%, 0.7);
}

/* .sidebar-item.sidebar-active, .sidebar:first-child {
    background-color: #7D53F6;
    color: #fff;
} */

a {
    all: unset;
    cursor: pointer;
}

/* Dashboards Cards */

.cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 16px;
    margin: 20px;
}

.card {
    background: white;
    padding: 16px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}


/* Courses List */

h2 {
    margin: 10px 20px;
}

.course-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 16px;
    padding: 20px;
}

.course-card {
    background: #fff;
    padding: 16px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.status {
    display: inline-block;
    margin-top: 10px;
    padding: 4px 10px;
    font-size: 12px;
    border-radius: 12px;
}

.status.active {
    background: #ECE8FE;
    color: #7D6DF8;
}

.status.completed {
    background: #dcfce7;
    color: #166534;
}


/* Assingments Page  */

#assignmentList {
    padding: 10px;
    
}

.assignment-card {
    background: #fff;
    padding: 16px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 8px;
}

.assignment-card button {
    margin-top: 10px;
    padding: 6px 12px;
    cursor: pointer;
}

.status.pending {color: orange;}
.status.submitted {color: green;}
.status.late {color: red;}

.submit-button {
    background: #ECE8FE;
    color: #7D6DF8;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.submit-button.pending {
    background: #FDF7E6;
    color: #D58D04;
    border: 1px solid #F9E9BA;
}

.submit-button.submitted {
    background: #E4F5EB;
    color: hsl(152, 97%, 25%);
    border: 1px solid #BCEBCF;
}

.submit-button.late {
    background: #F3F4F6;
    color: hsl(0, 0%, 37%);
    border: 1px solid #c8daff;
}

/* Profile Page  */

#profile {
    display: flex;
    min-width: 100vh;
    justify-content: center;
    align-items: center;
}

.profile-card {
    background: #ffffff;
    padding: 20px;
    width: 350px;
    border-radius: 8px;
    margin: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.profile-card input {
    width: 100%;
    margin-bottom: 15px;
    padding: 8px;
}

.profile-card button {
    padding: 8px 12px;
    cursor: pointer;
}

#editBtn {
    background: #7D6DF8;
    color: #ECE8FE;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-weight: 600;
}

