@import url('https://fonts.googleapis.com/css2?family=Poppins');

/* main.css */

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
}

html { font-size: 16px;}

/* Global colors */
:root {
    --primary-color: hsl(221, 83%, 53%);
    --bg-color: #f4f6f9;
    --text-color: #111827;
    --border-color: #d1d5db;
    --hover-color: hsl(221, 83%, 43%);
};

