*{
    padding: 0;
    margin: 0;
    font-family: 'Arial', Helvetica, sans-serif;
    box-sizing: border-box;
}

.container{
    width: 100%;
    height:100vh;
    background: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.music-player{
    background: #ffe0e5;
    width: 400px;
    padding: 25px 35px;
    text-align: center;
    border-radius: 10px;
}

nav{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
nav .circle{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    line-height: 40px;
    background: #fff;
    color: #f53192;
    box-shadow: 0 5px 10px rgba(255, 26, 26, 0.22);
}

.song-img{
    width: 220px;
    border-radius: 50%;
    border: 8px solid #fff;
    box-shadow: 0 10px 60px rgba(255, 26, 26, 0.22);
}

.music-player h1{
    font-size:20px;
    color: #333;
    margin-top:20px;
}

.music-player p{
    color: #333;
}

#progress{
    -webkit-appearance: none;
    width: 100%;
    height: 6px;
    background: #333;
    border-radius: 4px;
    cursor: pointer;
    margin: 40px 0;
}

#progress::-webkit-slider-thumb{
    -webkit-appearance: none;
    background: #333;
    width: 20px;
    height:20px;
    border-radius: 50%;
    border: 3px solid #fff;
    box-shadow: 0 5px 50px rgba(255, 26, 26, 0.22);
}

.controls{
    display:flex;
    justify-content: center;
    align-items: center;
}
.controls div{
    width: 50px;
    height: 50px;
    margin: 20px;
    background: #fff;
    display:inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    box-shadow: 0 5px 50px rgba(255, 26, 26, 0.22);
    cursor: pointer;
}

.controls div:nth-child(2){
    transform:scale(1.5);
    background-color:rgba(255, 26, 26, 0.22) ;
    color: #fff;
}

audio{
    margin-top:10px;
}